<section class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="box-header">
                <h3 class="box-title">添加/编辑公众号</h3>
            </div>
            <form action="<{url action='wechat_account_post'}>" method="post" role="form" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="wechatname">公众号名称：</label>
                        <input type="text" name="wechatname" class="form-control" id="wechatname" placeholder="请填写公众号名称">
                    </div>

                    <div class="form-group">
                        <label for="wechatcode">公众号微信号：</label>
                        <input type="text" name="wechatcode" class="form-control" id="wechatcode" placeholder="请填写公众号微信号">
                    </div>

                    <div class="form-group">
                        <label for="wechatoriginal">公众号原始id：</label>
                        <input type="text" name="wechatoriginal" class="form-control" id="wechatoriginal" placeholder="请填写公众号原始id" required="true">
                    </div>

                    <div class="form-group">
                        <label for="wechatappid">公众号appid：</label>
                        <input type="text" name="wechatappid" class="form-control" id="wechatappid" placeholder="请填写公众号appid" required="true">
                    </div>

                    <div class="form-group">
                        <label for="wechatsecret">公众号appsecret：</label>
                        <input type="text" name="wechatsecret" class="form-control" id="wechatsecret" placeholder="请填写公众号appsecret" required="true">
                    </div>

                    <div class="form-group">
                        <label for="description">公众号介绍：</label>
                        <textarea name="description" maxlength="200" class="form-control"></textarea>
                    </div>
                    <input type="hidden" name="token" value="<{$token}>">

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-success">下一步</button>
                </div>
            </form>
        </div>
    </div>
</section>